/*
Grid
*/

.col, .container {
    box-sizing: border-box;
}
/*containers */
.container {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(1, fr);
    max-width: 98%;
    margin: 12px auto;
}




.col { 
    border: var(--border-subtle-main);
}

@media (min-width: 768px) { /* 2 for row*/
    .container {
        grid-template-columns: repeat(2, 1fr);
    }


    .span-whole-grid {
        grid-column: span 2;
    }

    .span-one-column {
        grid-column: span 1;
    }

    .wide-width {
        max-width: 1560px;
    }
    .normal-width {
        max-width: 1200px;
        padding: 16px;
    }
    
    .narrow-width {
        max-width: 768px;
    }

}


@media (min-width: 1200px) { /*add up to 6 for row */
    .container {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        grid-gap: 20px;
    }

    .span-whole-grid {
        grid-column: span 3;
    }

    .span-one-column {
        grid-column: span 1;
    }


}


@media (min-width: 1580px) {
    .container {
        grid-template: repeat(4, 1fr);
        padding: 30px;
        grid-gap: 30px;
    }

    .span-whole-grid {
        grid-column: span 4;
    }

    .span-one-column {
        grid-column: span 1;
    }
}
